<th:block th:fragment="slider" th:remove="tag" xmlns:th="http://www.w3.org/1999/xhtml"
          xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    <div class="banner banner-1" v-for="banner in banners">
                        <img v-bind:src="banner.image" alt="">
                        <div class="banner-caption text-center">
                            <h1>{{banner.textH}}</h1>
                            <h3 class="white-color font-weak">{{banner.text}}</h3>
                            <button class="primary-btn">{{banner.button}}</button>
                        </div>
                    </div>
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
        <script th:inline="javascript">
            var banners = [
                        {image: "../../static/img/slide01.jpg", textH: "Car service", text: "Up to 50% Discount", button: "Shop Now" },
                        {image: "../../static/img/banner02.jpg", textH: "HOT DEAL", text: "Up to 50% OFF", button: "Shop Now" },
                        {image: "../../static/img/banner03.jpg", textH: "New Product", text: "Collection", button: "Shop Now" }
                    ];
        </script>
    </div>

</th:block>