<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:replace="components/head :: head"> </div>
  <body>
    <div id="app" >
        <div th:block th:include="components/header :: header"> </div>
        <div th:block th:include="components/navigation :: navigation"> </div>
        <div th:block th:include="components/slider :: slider"> </div>
        <div th:block th:include="components/footer :: footer"> </div>
    </div>
  </body>
<script>
    new Vue ({
        el: '#app',
        name: 'App',
        data: {
            name: 'slava', age: '35',
            categories,
            services,
            banners
        }
    })
</script>

</html>
