<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="components/head :: head"> </div>
  <body>
    <div id="app" >
        <div th:block th:include="components/header :: header"> </div>
        <div th:block th:include="components/navigation :: navigation"> </div>
        <div th:block th:include="components/slider :: slider"> </div>
        <div th:block th:include="components/content :: content"> </div>
        <div th:block th:include="components/footer :: footer"> </div>
    </div>
  </body>
<script th:inline="javascript">
    var categories = [
        {name: 'ДВИГАТЕЛЬ',
            row: [
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes']},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes']}
            ], picture :'../../static/img/banner05.jpg'},
        {name: 'ТРАНСМИССИЯ',
            row: [
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes']},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes']},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes']}
            ], picture:null},
        {name: 'ПОДВЕСКА И РУЛЕВОЕ УПРАВЛЕНИЕ', row:null, picture:null},
        {name: 'ТОРМОЗА', row:null, picture:null},
        {name: 'ТОПЛИВНАЯ СИСТЕМА', row:null, picture:null},
        {name: 'ЭЛЕКТРИКА И ЗАЖИГАНИЕ', row:null, picture:null},
        {name: 'СИСТЕМЫ ОТОПЛЕНИЯ И ОХЛАЖДЕНИЯ', row:null, picture:null},
        {name: 'ВЫХЛОПНАЯ СИСТЕМА', row:null, picture:null},
        {name: 'СИСТЕМА ОЧИСТКИ ОКОН', row:null, picture:null},
        {name: 'ФИЛЬТРЫ', row:null, picture:null},
        {name: 'КУЗОВНЫЕ ДЕТАЛИ И СОСТАВЛЯЮЩИЕ', row:null, picture:null},
        {name: 'ОПТИКА И СВЕТ', row:null, picture:null},
        {name: 'ШИНЫ', row:null, picture:null}
    ];
    var services = [{name: 'АВТОСЕРВИС', row: [{cell:['Women’s Clothing',
                'Men’s Clothing',
                'Phones & Accessories',
                'Jewelry & Watches',
                'Bags & Shoes'], picture:null},
            {cell:['Women’s Clothing',
                    'Men’s Clothing',
                    'Phones & Accessories',
                    'Jewelry & Watches',
                    'Bags & Shoes'], picture:null},
            {cell:['Women’s Clothing',
                    'Men’s Clothing',
                    'Phones & Accessories',
                    'Jewelry & Watches',
                    'Bags & Shoes'], picture:null}]},
        {name: 'ШИНОМОНТАЖ&БАЛАНСИРОВКА', row: [{cell:['Women’s Clothing',
                    'Men’s Clothing',
                    'Phones & Accessories',
                    'Jewelry & Watches',
                    'Bags & Shoes'], picture:null},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes'], picture:null},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes'], picture:null}]},
        {name: 'КОРРЕКТИРОВКА СВЕТА ФАР', row: [{cell:['Women’s Clothing',
                    'Men’s Clothing',
                    'Phones & Accessories',
                    'Jewelry & Watches',
                    'Bags & Shoes'], picture:null},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes'], picture:null},
                {cell:['Women’s Clothing',
                        'Men’s Clothing',
                        'Phones & Accessories',
                        'Jewelry & Watches',
                        'Bags & Shoes'], picture:null}]},
        {name: 'CAFE STATION', row:null, picture:null}
    ];
    var banners = [];
    var getData2 = axios.get('/banners').then(response => (main.$data.banners = response.data));
    var getData = axios.get('/datatest').then(response => (main.$data.info = response.data));
    var main = new Vue ({
        el: '#app',
        name: 'App',
        data: {
            categories,
            services,
            banners,
            origin: '',
            info: null,
            info2: null
        },
        created () {getData, getData2},
        mounted () { setTimeout(() =>  banners , 1000)
        },
        components: { 'Slider': window[ 'vue-easy-slider' ].Slider, 'SliderItem': window[ 'vue-easy-slider' ].SliderItem }

    });

</script>
</html>
